/* ExpenseList.css */
.chart {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .chart ul {
    list-style-type: none;
    padding: 0;
  }
  
  .chart p {
    text-align: center;
    font-size: 18px;
    color: #e3767a;
  }
  