.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: lightgrey;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.expense-item p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #f7768e;
  text-align: center;
  flex: 1;
}